<?xml version="1.0" encoding="iso-8859-1" standalone="yes"?>
<!-- synapse XML configuration -->
<synapseconfig>
  <client name="core">
    <!-- NOTE: not all idtech3 engine support png format! ioq3 does though, so at this point we assume it's fair to enable. See https://github.com/TTimo/GtkRadiant/issues/42 -->
    <api name="image">
      png jpg tga
    </api>
    <api name="VFS">
      pk3
    </api>
    <api name="shaders">
      quake3
    </api>
    <api name="map">
      mapq3
    </api>
    <api name="eclass">
      def
    </api> 
    <api name="surfdialog">
      quake3
    </api>
  </client>
  <client name="image">
    <api name="VFS">
      pk3
    </api>
  </client>
  <client name="shaders">
    <!-- NOTE: this is a SYN_PROVIDE -->
    <api name="shaders">
       quake3
    </api>
    <api name="VFS">
       pk3
    </api>
  </client>
  <client name="map">
    <api name="shaders">
      quake3
    </api>
  </client>
  <client name="xmap">
    <api name="shaders">
      quake3
    </api>
  </client>
  <client name="model">
    <api name="shaders">
      quake3
    </api>
    <api name="VFS">
      pk3
    </api>
  </client>
</synapseconfig>
